In [3]:
import numpy as np
import time

arr = np.arange(1, 1100000)

start = time.time()
vec_result = arr * 2
vec_time = time.time() - start

start = time.time()
loop_result = np.array([x * 2 for x in arr])
loop_time = time.time() - start

print("Vectorized result:", vec_result)
print("Loop result:", loop_result)
print(f"Vectorized time: {vec_time:.8f}s, Loop time: {loop_time:.8f}s")

Vectorized result: [      2       4       6 ... 2199994 2199996 2199998]
Loop result: [      2       4       6 ... 2199994 2199996 2199998]
Vectorized time: 0.00617218s, Loop time: 0.10529184s

In [27]:
import pandas as pd

df = pd.read_csv("data/starter_data.csv")

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  10 non-null     object
 1   value     10 non-null     int64
 2   date      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes
None

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05

In [28]:
summary_stats = df.describe()
category_group = df.groupby("category")["value"].mean()

summary_stats, category_group

(           value
 count  10.000000
 mean   17.600000
 std     7.381659
 min    10.000000
 25%    12.250000
 50%    14.500000
 75%    23.250000
 max    30.000000,
 category
 A    11.500000
 B    15.666667
 C    27.666667
 Name: value, dtype: float64)

In [29]:
import os

os.makedirs("data/processed", exist_ok=True)

summary_stats.to_csv("data/processed/summary.csv", index=True)

In [30]:

def get_summary_stats(dataframe):
    
    return dataframe.describe()

print(get_summary_stats(df))

           value
count  10.000000
mean   17.600000
std     7.381659
min    10.000000
25%    12.250000
50%    14.500000
75%    23.250000
max    30.000000