In [2]:
# imports
import os
import time
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../tests/data/starter_data.csv")

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  10 non-null     object
 1   value     10 non-null     int64
 2   date      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes
None

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05

In [4]:
summary_stats = df.describe()
category_group = df.groupby("category")["value"].mean()

summary_stats, category_group

(           value
 count  10.000000
 mean   17.600000
 std     7.381659
 min    10.000000
 25%    12.250000
 50%    14.500000
 75%    23.250000
 max    30.000000,
 category
 A    11.500000
 B    15.666667
 C    27.666667
 Name: value, dtype: float64)

In [6]:
os.makedirs("../tests/data/processed", exist_ok=True)

summary_stats.to_csv("../tests/data/processed/summary.csv", index=True)